# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib60/ # Pode ser específico de algum build antigo, mas não custa
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Env
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/
.coverage
*.cover
*.html # Para relatórios de coverage em HTML
coverage.xml

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
nbproject/ # NetBeans
*.DS_Store # macOS
Thumbs.db # Windows

# Logs
*.log
logs/