annotated-types==0.7.0
babel==2.17.0
backrefs==5.8
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
flatbuffers==25.2.10
ghp-import==2.1.0
humanfriendly==10.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
loguru==0.7.3
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mpmath==1.3.0
numpy==1.26.4
nvidia-nccl-cu12==2.26.5
onnx==1.18.0
onnxruntime==1.20.1
packaging==25.0
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
protobuf==6.31.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pymdown-extensions==10.15
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
requests==2.32.3
rich==14.0.0
ruff==0.4.10
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
typer==0.9.4
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
xgboost==2.1.4